@use '../abstracts/functions';
@use 'sass:math';

@function rem($pxValue) {
  @return math.div($pxValue, 16px) * 1rem;
}

@function em($pxValue, $context: $browser-context) {
  @return math.div($pxValue, $context) * 1em;
}

$browser-context: 16px;

body {
  color: #777;
  font-weight: 400;
  font-size: $browser-context;
  font-family: 'Lato', sans-serif;
  line-height: 1.7;
}

.heading-primary {
  margin: 22vh auto em(64px, 56px);
  color: #fff;
  font-size: rem(56px);
  text-align: center;
  text-transform: uppercase;
  backface-visibility: hidden;

  &--main {
    display: block;
    font-weight: 400;
    letter-spacing: em(35px, 56px);
    animation-name: moveInLeft;
    animation-duration: 0.9s;
  }

  &--sub {
    display: block;
    font-weight: 400;
    font-size: rem(16px);
    letter-spacing: em(17.4px);
    animation-name: moveInRight;
    animation-duration: 0.9s;
  }
}
