@use '../abstracts/variables';
@use '../base/typography';


.header {
  position: relative;
  height: 100vh;
  // background-image:
  // linear-gradient(
  //   to right bottom,
  //   rgb(variables.$color-primary--light, 0.702),
  //   rgb(variables.$color-primary--dark, 0.702)
  // ), url('/img/hero-2000.jpeg');
  // background-image:
  //   linear-gradient(
  //     to right bottom,
  //     rgb(variables.$color-primary--light, 0.702),
  //     rgb(variables.$color-primary--dark, 0.702)
  //   ), url('/img/hero-2000-v2.webp');
  // background-position: bottom left;
  // background-size: cover;
  // clip-path: polygon(0 0, 100% 0, 100% 85vh, 25% 100%, 0 100%);
  &__bg-container {
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: -1;
  }

  &__bg {
    object-fit: cover;
    width: 100%;
    height: 100vh;

  }

  &__logo-box {
    position: absolute;
    top: clamp(typography.em(10px), calc(40/1040*100vw), typography.em(80px));
    left: clamp(typography.em(10px), calc(40/1040*100vw), typography.em(80px));
  }

  &__logo {
    // height: typography.em(35px);
    width: clamp(typography.em(68px), calc(68/1040*100vw), typography.em(136px) );
    height: 100%;
  }

  &__text-box {
    display: flex;
    flex-direction: column;

    /* align-items: center;
    justify-content: center; */
    height: 100%;
  }
}

// @media (max-width: 1500px) {
//   .header {
//   background-image:
//   linear-gradient(
//     to right bottom,
//     rgb(variables.$color-primary--light, 0.702),
//     rgb(variables.$color-primary--dark, 0.702)
//   ),
//   image-set(
//     url('/img/hero-1500.webp') 1x,
//     url('/img/hero-2000-v2.webp') 2x
//   );
//   }
// };

// @media (max-width: 1000px) {
//   .header {
//   background-image:
//   linear-gradient(
//     to right bottom,
//     rgb(variables.$color-primary--light, 0.702),
//     rgb(variables.$color-primary--dark, 0.702)
//   ),
//   image-set(
//     url('/img/hero-2000-v2.webp') 2x
//     url('/img/hero-1000.webp') 1x,
//   );
//   }
// };

// @media (max-width: 500px) {
//   .header {
//   background-image:
//   linear-gradient(
//     to right bottom,
//     rgb(variables.$color-primary--light, 0.702),
//     rgb(variables.$color-primary--dark, 0.702)
//   ),
//   image-set(
//     url('/img/hero-500.webp') 1x,
//     url('/img/hero-1000.webp') 2x,
//     url('/img/hero-1500.webp') 3x
//   );
//   }
// };

// and (min-resolution: 192dpi)
// url(../../img/hero-1500.webp) 1x,
// url(../../img/hero-2000.webp) 2x,
// url(../../img/hero-2000.webp) 3x,
// url(../../img/src/hero-small.jpg) 1x,
// url(../../img/src/hero.jpg) 2x,