body {
  background-image: url('images/table.png');
  background-size: cover;
  color: white;
  font-weight: bold;
  font-family:
    'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Arial',
    sans-serif;
  text-align: center;
}

h1 {
  color: goldenrod;
  font-size: 2em;
}

button {
  width: 150px;
  margin: 0 5px;
  padding: 5px 0;
  border-width: 0;
  border-radius: 3px;
  background-color: goldenrod;
  color: green;
  font-weight: bold;
  font-size: 1.1em;
}

#message-el {
  font-style: italic;
}

#start-btn::after {
  content: 'START GAME';
}

#start-btn:hover::after {
  content: 'PAY 10$';
}

#newCard-btn::after {
  content: 'NEW CARD';
}

#newCard-btn:hover::after {
  content: 'PAY 1$';
}
