body {
  font-size: 1.25rem;
}

/* Typography */

h1 {
  color: black;
  font-size: 3rem;
  text-align: center;
}

h1 span {
  color: #b7832f;
}

h2 {
  font-size: 1.5rem;
}

/* Layout */

h2,
p {
  margin-top: 0;
}

.col-3 h2 {
  margin-top: 1em;
}

img {
  max-width: 100%;
  margin-bottom: 1em;
}

.cointainer {
  width: 95%;
  max-width: 980px;
  margin: 0 auto;
  color: #707070;
}

.columns {
  display: flex;
  gap: 1em;
  justify-content: space-between;
  margin-bottom: 1em;
}

.col-dark-bg {
  margin: 0;
  padding: 1em;
  background-color: #312614;
  color: #fff;
}

.col-1 {
  width: 20%;
}

.col-2 {
  width: 45%;
}

.col-3 {
  width: 70%;
}
