body {
  margin: 0;
}

.carousel-item {
  position: fixed;
  opacity: 0;
  transition: opacity 0.5s linear;
}

.carousel-item-visible {
  opacity: 1;
}

.carousel-img,
.container {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.carousel-actions {
  /* position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  align-self: center;
  justify-content: space-between;
  width: 100%;
  height: 100%; */
  position: fixed;
}

.cantainer-inner {
  width: 600px;
  height: 300px;
}

.carousel-btn {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 50px;
  background-color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transform: translateY(-50%);
}

.carousel-btn:hover {
  color: white;
  cursor: pointer;
  background: grey;
}

#carousel-btn-next {
  right: 20px;
}

#carousel-btn-prev {
  left: 20px;
}

#carousel {
  position: relative;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}
