@use '../abstracts/variables';
@use '../base/typography';

.section-about {
  margin-top: -10vh;
  padding: calc(10vh + #{typography.em(90px)}) 0 0;
  background-color: variables.$color-grey-light-1;
}
