* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  color: white;
  font-family: pt-sans-pro, sans-serif;
}

.card {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 5%;
  background-color: #111d4a;
}

.card-img {
  object-fit: cover;
  width: 100%;
  height: 195px;
}

.card-title,
.card-read-time,
.card-btn {
  font-family: 'Blinker', sans-serif;
}

.card-content {
  display: flex;
  flex-direction: column;
  min-height: 398px;
  padding: 2.25em;
}

.card-title {
  margin-top: 0;
  margin-bottom: 0.5em;
  color: #05cbe9;
  font-size: 1.75em;
}

.card-body {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.8;
  opacity: 0.8;
}

.card-footer {
  display: flex;
  align-content: space-between;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: auto;
}

.card-read-time {
  margin: 0;
  font-size: 1.188rem;
  line-height: 1;
  opacity: 0.51;
}

.read-time-number {
  display: block;
  font-size: 1.75rem;
}

.card-btn {
  display: flex;
  flex-shrink: 0;
  width: 159px;
  height: 44px;
  margin-left: 33px;
  background-color: #05cbe9;
  color: #111d4a;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
  font-weight: 700;
  font-size: 1.25rem;
  text-decoration: none;
  transform: scale(1);
  transition: transform 250ms;
  opacity: 1;
}

.card-btn:focus,
.card-btn:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.card-btn:active {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
  transform: scale(1.05);
}

.card-btn span {
  margin: auto;
  letter-spacing: 1px;
}

@media (min-width: 640px) {
  .card {
    flex-direction: row;
    height: 390px;
  }

  .card-img {
    /* flex-grow: 0; */
    width: 255px;
    height: 100%;
  }

  .card-title {
    font-size: 2.25rem;
  }

  .card-body {
    font-size: 1.125rem;
  }
}
