$color-primary: #7ed56f;
$color-primary--light: rgb(113 158 214);
$color-primary--dark: rgb(39 95 180);
$color-grey-light-1: #f7f7f7;
$color-grey-dark-1: #777;
$color-white: #fff;
$color-black: #000;
$normal-weight: 400;
$bold-weight: 700;
$retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution:192dpi)';
