* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
}

main {
  grid-area: main;
}

footer {
  display: flex;
  grid-area: footer;
}

.space {
  grid-area: space;

}

.container-grid {
  display: grid;
  grid-template:
    'error'
    'image'
    'main'
    'footer';
  grid-template-rows: 1fr  1fr 1fr 1fr
  grid-template-columns: auto;
  min-height: 100vh;
  padding: 20px 0 24px 24px;
}

.img-container {
  display: flex;
}

.error-info,
.info-header {
  color: hsl(0deg 0% 20% / 100%);
}

.error-info {
  grid-area: error;
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  font-family: 'Inconsolata', sans-serif;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-align: left;
  padding-bottom: 11%;
}

.error-img {
  max-width: 76vw;
  height: 100%;
  margin: auto;
  padding-bottom: 17.09%;
}

.info-header,
.info-body,
.button {
  font-family: 'Space Mono', sans-serif;
}

.info-header,
.button,
footer p strong {
  font-weight: 700;
}

.info-header {
  margin: 0;
  padding-bottom: 30px;
  font-style: normal;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -0.035em;
}

.info-body {
  margin: 0;
  margin-bottom: 80px;
  padding-right: 24px;
  color: hsl(0deg 0% 31% / 100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  text-align: left;
}

.button,
footer p {
  font-size: 14px;
}

.button {
  margin: 0;
  padding: 24px 43px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-align: left;
  text-decoration: none;
}

.button-homepage {
  margin: 0;
  background-color: hsl(0deg 0% 20% / 100%);
  color: white;
}

footer p {
  margin: auto auto 0;
  padding-top: 80px;
  color: hsl(0deg 0% 74% / 100%);
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
}

@media (min-width: 1440px) {
  .container-grid {
    display: grid;
    grid-template:
      'error error'
      'image main'
      'footer footer';
    grid-template-rows: minmax(18.4vh, max-content) minmax(64vh, max-content) minmax(18vh, max-content);
    grid-template-columns: 1fr 1fr;
  }

  main {
    justify-self: center;
  }

  footer {
    display: flex;
    margin: auto auto 24px;
    font-size: 14px;
    line-height: 17px;
  }

  .error-info {
    margin: 0;
    font-size: 24px;
    line-height: 25px;
  }

  .error-img {
    /* align-self: center; */
  }

  .info-header {
    margin: 0;
    font-size: 64px;
    line-height: 95px;
  }

  .info-body {
    padding: 0;
    font-size: 24px;
    line-height: 36px;
  }

  .button-homepage {
    margin-left: 0;
  }
}

/*
Previous version
{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

.error-info,
.info-header {
  color: hsl(0deg 0% 20% / 100%);
}

.error-info {
  grid-area: header;
  margin-top: 20px;
  margin-bottom: 64px;
  margin-left: 24px;
  font-weight: 700;
  font-size: 24px;
  font-family: 'Inconsolata', sans-serif;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-align: left;
}

.error-img {
  grid-area: image;
  display: block;
  width: 67%;
  margin: auto;
  margin-bottom: 60px;
}

.info-header,
.info-body,
.button {
  font-family: 'Space Mono', sans-serif;
}

.info-header,
.button,
footer p strong {
  font-weight: 700;
}

.info-header {
  margin-right: 0;
  margin-bottom: 30px;
  margin-left: 24px;
  font-style: normal;
  font-size: 48px;
  line-height: 71px;
  letter-spacing: -0.035em;
}

.info-body {
  margin: 0 0 90px;
  padding: 0 25px;
  color: hsl(0deg 0% 31% / 100%);
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: -0.035em;
  text-align: left;
}

.button,
footer p {
  font-size: 14px;
}

.button {
  margin-left: 24px;
  padding: 24px 43px;
  line-height: 21px;
  letter-spacing: -0.035em;
  text-align: left;
  text-decoration: none;
}

.button-homepage {
  margin-bottom: 114px;
  background-color: hsl(0deg 0% 20% / 100%);
  color: white;
}

footer p {
  margin-top: 114px;
  margin-bottom: 24px;
  color: hsl(0deg 0% 74% / 100%);
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  line-height: 17px;
  letter-spacing: 0;
  text-align: center;
}

@media (min-width: 1440px) {
  .container-grid {
    display: grid;
    grid-template:
      'header main'
      'footer footer';
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 70vh 30vh;
    column-gap: 1em;
  }

  main {
    margin-top: 265px;
    justify-self: center;
  }

  footer {
    display: flex;
    margin: auto auto 24px auto;
    font-size: 14px;
    line-height: 17px;
  }

  .error-info {
    margin: 44px 0 0 77px;
    font-size: 24px;
    line-height: 25px;
  }

  .error-img {
    align-self: center;
    margin-top: 196px;
  }

  .info-header {
    max-width: 586px;
    margin: 0 119px 36px 0;
    font-size: 64px;
    line-height: 95px;
  }

  .info-body {
    max-width: 381px;
    padding: 0;
    font-size: 24px;
    line-height: 36px;
  }

  .button-homepage {
    margin-left: 0;
  }
} */
