* {
  box-sizing: border-box;
}

html {
  height: 100vh;
  margin: 0;
}

body {
  height: 100%;
  margin: 0;
  background-image: url('../img/table.png');
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

.cointainer {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
}

.cointainer-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.button {
  max-width: 400px;
  margin-top: 0;
  padding: 1em 2.2em;
  border-style: none;
  border-radius: 5px;
  box-shadow: rgb(38, 57, 77) 0 20px 30px -10px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#c39e22', endColorstr='#fdf72d', GradientType=1);
  cursor: pointer;
  transform: scale(1);
  transition: transform 150ms;
  background: rgb(195, 158, 34);
  background:
    -moz-linear-gradient(
      264deg,
      rgba(195, 158, 34, 1) 0%,
      rgba(253, 247, 45, 1) 100%
    );
  background:
    -webkit-linear-gradient(
      264deg,
      rgba(195, 158, 34, 1) 0%,
      rgba(253, 247, 45, 1) 100%
    );
  background:
    linear-gradient(
      264deg,
      rgba(195, 158, 34, 1) 0%,
      rgba(253, 247, 45, 1) 100%
    );
}

.button:focus,
.button:hover {
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#c37f22', endColorstr='#fdd92d', GradientType=1);
  transform: scale(1.05);
  background: rgb(195, 127, 34);
  background:
    -moz-linear-gradient(
      250deg,
      rgba(195, 127, 34, 1) 0%,
      rgba(253, 217, 45, 1) 100%
    );
  background:
    -webkit-linear-gradient(
      250deg,
      rgba(195, 127, 34, 1) 0%,
      rgba(253, 217, 45, 1) 100%
    );
  background:
    linear-gradient(
      250deg,
      rgba(195, 127, 34, 1) 0%,
      rgba(253, 217, 45, 1) 100%
    );
}

.button:active {
  box-shadow:
    rgba(50, 50, 93, 0.25) 0 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0 18px 36px -18px inset;
  transform: scale(1);
}

.cointainer-top {
  display: flex;
  flex-wrap: wrap;
  align-self: flex-start;
  margin-bottom: 1em;
}

.new-deck-btn {
  max-height: 42px;
  margin-top: 20px;
  margin-left: 20px;
}

.draw-btn {
  z-index: -1;
  width: 80%;
  margin-bottom: 4em;
}

.btn-active {
  z-index: 1;
}

.remaining-cards-info {
  margin-left: 2em;
  color: white;
  font-size: 2em;
  letter-spacing: 1px;
}

#cards-el {
  display: flex;
  flex-direction: column;
}

.card-slot {
  width: calc(30vh * 5 / 7);
  height: 30vh;
  margin-bottom: 1em;
  border: 1px solid black;
  border-radius: 5px;
}

.card-slot:first-child {
  margin-bottom: 3em;
}

.card {
  height: 100%;
}
