html,
body {
  margin: 0;
  padding: 0;
  background-color: hsl(120deg 73% 75%);
}

body {
  padding: 0.5em;
}

.pokemon {
  display: grid;
  grid-template-areas:
    'info'
    'stats';
  margin-bottom: 0.5em;
  border: 1px solid black;
}

.info {
  display: grid;
  grid-area: info;
  grid-template-areas: 'number name type';
  grid-template-columns: 1fr repeat(2, 2fr);
}

.number {
  grid-area: number;
  background-color: hsl(183deg 73% 73%);
}

.name {
  grid-area: name;
  background-color: hsl(327deg 71% 95%);
}

.type {
  grid-area: type;
  background-color: hsl(111deg 73% 73%);
}

.stats {
  display: grid;
  grid-area: stats;
  grid-template-columns: repeat(4, 1fr);
  background-color: hsl(327deg 73% 73%);
}

.names {
  display: flex;
  background-color: hsl(260deg 72% 73%);
}

p {
  width: 100%;
  margin: 0;
  padding: 1em 0;
  border: 1px solid black;
  text-align: center;
}
