@use '../abstracts/variables';
@use './typography';

.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: typography.rem(60px);
}

.u-margin-bottom-medium {
  margin-bottom: typography.rem(24px);
}
