@use '../abstracts/variables';
@use './typography';

.u-center-text {
  text-align: center;
}

.u-margin-top-big {
  margin-bottom: typography.rem(60px);
}

.u-margin-top-huge {
  margin-top: typography.rem(80px);
}

.u-margin-bottom-big {
  margin-bottom: typography.rem(60px);
}

.u-margin-bottom-medium {
  margin-bottom: typography.rem(24px);
}

.u-gradient-bg-text {
  display: inline-block;
  background-image:
    linear-gradient(
      to right,
      variables.$color-primary--light,
      variables.$color-primary--dark
    );
  background-clip: text;
  color: transparent;
}
