body {
  margin: 0;
  font-family: 'Goblin One', cursive;

  /* background-image: url('img/forest-bg.jpg');
  background-size: cover; */
  background: black;
}

h1 {
  color: #46b648;
}

main {
  text-align: center;
}

#start {
  display: block;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 0.5rem 1.1rem;
  color: #fff;
  font-family: 'Goblin One', cursive;
  background: #46b648;
}

#start:focus {
  background-color: #149816;
}

#start:hover {
  background-color: #0e6f10;
}

.score-container {
  position: absolute;
  top: 30px;
  left: 40px;
  margin: 0;
  color: #46b648;
}

.grid-container {
  width: 500px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
}

.grid-playground {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  border: solid 2px black;
}

.grid-background {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  border: solid 2px black;
  background-image: url('img/green-moss-bg-first-layer.png');
  background-size: cover;
  opacity: 1;
}

.grid-background-secound {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  border: solid 2px black;
  background-image: url('img/green-moss-bg-secound-layer.png');
  background-size: cover;
  opacity: 1;
}

.message {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  border: solid 2px black;
}

.game-message {
  color: white;
  font-size: 40px;
  text-shadow: 7.2px 14.4px 14.4px #a2daa3;
}

.square-playground {
  width: 50px;
  height: 50px;
}

.square-background {
  width: 50px;
  height: 50px;
}

.snake-tombstone {
  -webkit-filter: drop-shadow(4px 8px 8px hsl(0deg 0% 0% / 38%));
          filter: drop-shadow(4px 8px 8px hsl(0deg 0% 0% / 38%));
}

.snake-tombstone-1 {
  background-image: url('img/snake-tombstone-1.png');
}

.snake-tombstone-2 {
  background-image: url('img/snake-tombstone-2.png');
}

.snake-tombstone-3 {
  background-image: url('img/snake-tombstone-3.png');
}

.snake-tombstone-4 {
  background-image: url('img/snake-tombstone-4.png');
}

.snake-tombstone-5 {
  background-image: url('img/snake-tombstone-5.png');
}

.snake-tombstone-6 {
  background-image: url('img/snake-tombstone-6.png');
}

.snake-tombstone-7 {
  background-image: url('img/snake-tombstone-7.png');
}

.snake-tombstone-8 {
  background-image: url('img/snake-tombstone-8.png');
}

.snake-tombstone-9 {
  background-image: url('img/snake-tombstone-9.png');
}

.snake-tombstone-10 {
  background-image: url('img/snake-tombstone-10.png');
}

.snake-body {
  border-radius: 8px;
  background-image: url('img/snake-body.jpg');
}

.snake-body-dead {
  transition: opacity 10s ease-in-out;
  opacity: 0;
}

.snake-head {
  background-image: url('img/snake-head.jpg');
}

.snake-head-hungry {
  background-image: url('img/snake-head-hungry.png');
}

.snake-head-afraid {
  background-image: url('img/snake-head-afraid.jpg');
}

.snake-head-full-loop {
  background-image: url('img/snake-head-full-loop.jpg');
}

.snake-head-eat {
  background-image: url('img/snake-head-eat.jpg');
}

.snake-head-dead {
  background-image: url('img/snake-head-dead.jpg');
}

.rotate-up {
  transform: rotate(270deg);
}

.rotate-down {
  transform: rotate(90deg);
}

.rotate-left {
  transform: rotate(180deg);
}

.rotate-right {
  transform: rotate(0deg);
}

.apple {
  background-image: url('img/apple-2.png');
  -webkit-filter: drop-shadow(4px 8px 8px hsl(0deg 0% 0% / 38%));
          filter: drop-shadow(4px 8px 8px hsl(0deg 0% 0% / 38%));
}

.apple-after-dead {
  transition: opacity 5s ease-in-out;
  opacity: 0;
}

.apple-blink {
  -webkit-animation: blink-animation 0.75s steps(5, start) infinite;
          animation: blink-animation 0.75s steps(5, start) infinite;
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
