html,
body {
    margin: 10px;
    padding: 10px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;

    border-width: 2px;
    border-style: solid;
    border-color: black;
}

.square {
  width: 20px;
  height: 20px;
  background: blue;
}
