body {
  margin: 0;
  font-family: 'Goblin One', cursive;

  /* background-image: url('img/forest-bg.jpg');
  background-size: cover; */
  background: black;
}

h1 {
  color: #46b648;
}

main {
  text-align: center;
}

#start {
  display: block;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding: 0.5rem 1.1rem;
  color: #fff;
  font-family: 'Goblin One', cursive;
  background: #46b648;
}

#start:focus {
  background-color: #149816;
}

#start:hover {
  background-color: #0e6f10;
}

.score-container {
  position: absolute;
  top: 30px;
  left: 40px;
  margin: 0;
  color: #46b648;
}

.grid-container {
  width: 500px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
}

.grid {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  border: solid 2px black;
}

.grid-bg {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin-right: auto;
  margin-left: auto;
  border: solid 2px black;
  background-image: url('img/green-moss-bg.jpg');
  background-size: cover;
  opacity: 1;
}

.square {
  width: 50px;
  height: 50px;
}

.square-bg {
  width: 50px;
  height: 50px;
}

.snake-rip-1 {
  background-image: url('img/snake-rip-1.png');
}

.snake-rip-2 {
  background-image: url('img/snake-rip-2.png');
}

.snake-rip-3 {
  background-image: url('img/snake-rip-3.png');
}

.snake-rip-4 {
  background-image: url('img/snake-rip-4.png');
}

.snake-rip-5 {
  background-image: url('img/snake-rip-5.png');
}

.snake-rip-6 {
  background-image: url('img/snake-rip-6.png');
}

.snake-rip-7 {
  background-image: url('img/snake-rip-7.png');
}

.snake-rip-8 {
  background-image: url('img/snake-rip-8.png');
}

.snake-rip-9 {
  background-image: url('img/snake-rip-9.png');
}

.snake-rip-10 {
  background-image: url('img/snake-rip-10.png');
}

.snake {
  border-radius: 8px;
  background-image: url('img/snake-body.jpg');
}

.snake-dead {
  border-radius: 8px;
  background-image: url('img/snake-body.jpg');
  -webkit-transition: opacity 10s ease-in-out;
  -moz-transition: opacity 10s ease-in-out;
  -ms-transition: opacity 10s ease-in-out;
  -o-transition: opacity 10s ease-in-out;
  transition: opacity 10 ease-in-out;
  opacity: 0;
}

.snake-head {
  background-image: url('img/snake-head.jpg');
}

.snake-head-hungry {
  background-image: url('img/snake-head-hungry.png');
}

.snake-head-afraid {
  background-image: url('img/snake-head-afraid.jpg');
}

.snake-head-full-loop {
  background-image: url('img/snake-head-full-loop.jpg');
}

.snake-head-dead {
  background-image: url('img/snake-head-dead.jpg');
}

.snake-head-eat {
  background-image: url('img/snake-head-eat.jpg');
}

.rotate-up {
  transform: rotate(270deg);
}

.rotate-down {
  transform: rotate(90deg);
}

.rotate-left {
  transform: rotate(180deg);
}

.rotate-right {
  transform: rotate(0deg);
}

.apple {
  background-image: url('img/apple-2.png');
  opacity: 0.95;
}
