*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Sans Pro', monospace;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  margin: 0;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-weight: var(--fw-reg);
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  min-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  text-transform: uppercase;
}

.section__subtitle--intro,
.section__subtitle--about {
  margin-bottom: 1em;
  font-family: var(--ff-secondary);
  background: var(--clr-accent);
}

/* header */

nav {
  display: none;
}

/* Intro section */

.intro {
  position: relative;
}

@media (min-width: 600px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    grid-template-areas:
      'img title'
      'img subtitle';
    grid-template-columns: min-content max-content;
    grid-column-gap: 1em;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
  }

  .section__title--intro {
    grid-area: title;
  }

  .section__subtitle--intro {
    grid-area: subtitle;
    
  }
}
