*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Sans Pro', monospace;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-black: #111;
  --clr-accent: #16e0bd;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1.125rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
    --bs: rgba(50, 50, 93, 25%) 0 6px 12px -2px, rgba(0, 0, 0, 30%) 0 3px 7px -3px;
  }
}

body {
  margin: 0;
  padding: 2.1em 0;
  background-color: var(--clr-light);
  color: var(--clr-dark);
  font-weight: var(--fw-reg);
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  line-height: 1.6;
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

section {
  padding: 0 1.3637em;
}

img {
  display: block;
  width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

h1,
h2,
h3 {
  margin: 0;
  line-height: 1.1;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

.header,
section,
.footer {
  max-width: 500px;
  margin: 0 auto;
}

.footer {
  color: inherit;
}

.container--dark {
  color: var(--clr-light);
  font-family: var(--ff-secondary);
  background: var(--clr-dark);
}

.container--black {
  color: var(--clr-accent);
  font-family: var(--ff-secondary);
  background: var(--clr-black);
}

.section__title {
  margin-bottom: 0.25em;
  backface-visibility: hidden;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
  text-transform: uppercase;
}

.section__title--intro {
  width: 100%;
  margin: 0 auto;
  font-weight: var(--fw-reg);
  animation: move-in-left;
  animation-duration: 0.9s;
}

.section__title--intro strong {
  display: block;
}

.section__subtitle--intro,
.section__subtitle--about {
  background-color: var(--clr-accent);
}

.section__subtitle--intro {
  position: relative;
  left: -6.5px;
  width: calc(100% + 6.5px);
  margin-bottom: 0.7407em;
  padding: 0.1em 0;
  font-size: 1.6875rem;
  letter-spacing: 3.77px;
  animation: move-in-right;
  animation-duration: 0.9s;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 2.9em;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav--visible {
  transform: translateX(0%);
}

.nav__item {
  width: 100%;
  text-align: center;
}

.nav__link {
  margin: auto;
  padding: 0.5em 1.25em;
  color: var(--clr-light);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-align: center;
  text-decoration: none;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-toggle {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1000;
  padding: 0.5em;
  border: 0;
  cursor: pointer;
  background: transparent;
}

.nav-toggle:hover {
  transform: scale(1.1);
}

.nav-toggle--fixed {
  position: fixed;
}

.nav-toggle--fixed .hamburger {
  transform: rotate(0.625turn);
}

.nav-toggle--fixed .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-toggle--fixed .hamburger::after {
  opacity: 0;
}

.hamburger {
  position: relative;
  display: block;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  width: 2em;
  height: 3px;
  border-radius: 1em;
  background: var(--clr-accent);
  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

/* Intro section */

.intro {
  position: relative;
  padding-bottom: 4.5625em;
  text-align: center;
}

.intro__img {
  z-index: 1;
  max-width: 78vw;
  margin: auto;
  animation: move-from-zero 0.6s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.logo {
  max-width: 138px;
  margin-left: 1.3637em;
  animation: move-in-top 0.6s ease-out 1.3s;
  animation-fill-mode: backwards;
}

.my-services {
  padding-bottom: 5.833em;
  text-align: center;
}

.section__title--services,
.section__title--about,
.section__title--my-work {
  font-size: 3.75rem;
}

.section__title--services {
  margin-bottom: 1em;
  padding-top: 49px;
  color: var(--clr-accent);
  font-size: 3.75rem;
}

.service__body {
  margin-bottom: 5em;
}

.btn {
  display: inline-block;
  padding: 0.625em 3.25em;
  box-shadow: rgb(50 50 93 / 25%) 0 13px 27px -5px, rgb(0 0 0 / 30%) 0 8px 16px -8px;
  font-weight: var(--fw-bold);
  font-size: 1rem;
  letter-spacing: 0.8px;
  text-decoration: none;
  transition: all 0.3s ease-out;
  scale: (1);
}

.btn:hover,
.btn:focus {
  transform: scale(1.1);
  opacity: 0.8;
}

.btn:active {
  box-shadow: rgb(50 50 93 / 25%) 0 2px 5px -1px, rgb(0 0 0 / 30%) 0 1px 3px -1px;
  transform: scale(0.98);
}

.btn--accent {
  background-color: var(--clr-accent);
  color: var(--clr-dark);
}

.about-me {
  padding-top: 4em;
  padding-bottom: 2em;

  /* padding-bottom: 5.833em; */
}

.section__title--about {
  margin-bottom: 0.5em;
  text-align: center;
}

.section__subtitle--about {
  max-width: 100%;
  margin: 0 0 1.7em;
  padding: 0.5em 2.1em;
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: 0;
  text-align: center;
  text-transform: none;
}

.about-me__image {
  width: auto;
  max-width: 76.25%;
  height: auto;
  max-height: 60vh;
  margin: auto;
}

.about-me__body {
  max-width: 76.56%;
  margin: 1.222em auto auto;
  text-align: center;
}

.my-work {
  padding: 5em 0 2em;
  background-color: var(--clr-dark);
  text-align: center;
}

.section__title--my-work {
  margin-bottom: 0.4em;
  font-size: 3.5rem;
}

.section__subtitle--my-work {
  margin-bottom: 2.1em;
  padding: 0 1em;
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  font-size: 1.5rem;
  text-transform: none;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1em;
  justify-content: center;
  justify-items: center;
  max-width: 75%;
  margin: auto;
  padding-bottom: 3.0555em;
}

.portfolio__item {
  overflow: hidden;
}

.portfolio__img {
  transition: transform 0.3s;
}

.portfolio__img:hover {
  transform: scale(1.09);
}

.footer {
  padding-top: 4.4em;
  padding-bottom: 3.166em;
  text-align: center;
}

.footer__link {
  margin-bottom: 3.2916em;
  color: inherit;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 0;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.7;
}

.social-list {
  display: flex;
  justify-content: space-between;
  max-width: 236px;
  margin: auto;
  margin-top: 3.2916em;
  padding: 0;
  list-style-type: none;
}

.social-list__link {
  color: inherit;
  text-decoration: none;
}

@keyframes move-in-left {
  0% {
    transform: translateX(-6.25em);
    opacity: 0;
  }

  80% {
    transform: translateX(0.625em);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes move-in-right {
  0% {
    transform: translateX(6.25em);
    opacity: 0;
  }

  80% {
    transform: translateX(-0.625em);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes move-in-top {
  0% {
    transform: translateY(-2.36em);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes move-in-bottom {
  0% {
    transform: translateY(5em);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes move-from-zero {
  0% {
    transform: scale(0);
    opacity: 0.5;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@media (min-width: 600px) {
  .header,
  section,
  .footer {
    max-width: 80%;
  }

  .intro {
    display: grid;
    grid-template-areas:
      'img title'
      'img subtitle';
    grid-template-rows: 60.3833% auto;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2.344em;
    width: min-content;
    margin: 0 auto;
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    max-width: 313px;
  }

  .section__title--intro {
    grid-area: title;
    align-self: flex-end;
    margin: 0;
  }

  .section__subtitle--intro {
    position: relative;
    left: -60px;
    grid-area: subtitle;
    grid-column: -1/1;
    align-self: flex-start;
    width: 617px;
    width: calc(100% + 60px);
    padding: 0.1em;
    padding: 0.1em 0.935em;
    font-size: 1.6875rem;
    letter-spacing: 3.77px;
    text-align: right;
  }

  .container--my-services {
    background-image: linear-gradient(rgba(40, 40, 40, 65.3%), rgba(0, 0, 0, 65.3%)), url('../img/services-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (min-width: 980px) {
  .header,
  section,
  .footer {
    max-width: 90%;
  }

  .services {
    display: flex;
    gap: 3em;
    justify-content: center;
  }

  .service {
    max-width: 250px;
  }
}

@media (min-width: 1400px) {
  .header,
  section,
  .footer {
    max-width: 1000px;
  }

  .services {
    gap: 4em;
  }
}

@media (min-width: 600px) {
  .about-me {
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
  }

  .about-me {
    display: grid;
    grid-template-areas:
      'title img'
      'subtitle img'
      'text img';
    grid-template-columns: 1fr 200px;
    grid-column-gap: 3em;
  }

  .section__title--about {
    grid-area: title;
    text-align: left;
  }

  .section__subtitle--about {
    position: relative;
    left: -1em;
    grid-row: 2;
    grid-column: 1 / -1;
    width: calc(100% + 2em);
    margin: 0;
    padding: 0.75em calc(200px + 4em) 0.75em 1em;
    padding-left: 1em;
    text-align: left;
  }

  .about-me__image {
    /* position: relative; */

    /* z-index: 2; */
    grid-area: img;
    max-width: 100%;
    max-height: 100%;
    margin-top: 0;
  }

  .about-me__body {
    margin-top: 0;
    margin-left: 0;
    text-align: left;
  }
}

.portfolio-item-individual {
  padding: 0 2em 2em;
}

.portfolio-item-individual__body {
  max-width: 600px;
  margin: 1em auto;
}

.portfolio-item-individual__img {
  max-width: 700px;
  height: auto;
  margin: auto;
}

.image--shadow {
  box-shadow: var(--bs);
}
