body {
  background-image: url('images/table.png');
  background-size: cover;
  color: white;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Arial', sans-serif;
  text-align: center;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

/*
3. Style the button according to the provided design
text color - #016f32
width      - 150px
background - goldenrod
 */

button {
  width: 150px;
  padding: 5px;
  border: none;
  border-radius: 2px;
  color: #016f32;
  font-weight: bold;
  background: goldenrod;
}
