html {
  font-size: 62.5%;
}

body {
  margin: 0;
  color: #2e354f;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

img {
  width: 100%;
}

h1,
h2,
strong {
  font-weight: 900;
}

/* Typography */

h1 {
  margin: 0;
  font-size: 3.6rem;
}

h2 {
  color: #ef5839;
  font-size: 2.3rem;
}

a {
  color: #ef5839;
}

a:hover,
a:focus {
  color: #d4b44c;
}

/* Buttons */

.btn {
  display: inline-block;
  padding: 10px 25px;
  text-decoration: none;
}

.btn-accent {
  color: #fff;
  background: #ef5839;
}

.btn-accent:hover {
  color: #2e354f;
  background: #d4b44c;
}

.btn-white {
  color: #2e354f;
  background: #fff;
}

.btn-white:hover {
  color: #2e354f;
  background: #999;
}

/* Layout */

header {
  padding: 45px 0;
  color: #fff;
  background: #2e354f;
}

section {
  padding: 45px 0;
}

.container {
  width: 90%;
  max-width: 620px;
  margin: 0 auto;
  border: 2px solid magenta;
}

.section-two {
  color: #fff;
  background: #2e354f;
}
