html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  width: 100vw;
}
.welcome-section {
background: -moz-linear-gradient(top, #E86442 0%, #903E94 100%);
background: -webkit-linear-gradient(top, #E86442 0%, #903E94 100%);
background: linear-gradient(to bottom, #E86442 0%, #903E94 100%);
background-attachment: fixed;
height: 100vh;
text-align: center;
}
body {
  margin: 0;
  display: flex;
  flex-flow: column;
}
