body {
  margin: 0;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

nav {
  position: fixed;
  z-index: 1;
  width: 100%;
}

h2 {
  margin: 0 auto;
  padding: 0.8em 0;
  color: white;
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 7px;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
  background: rgb(34, 193, 195);
  background:
    linear-gradient(
      86deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(221, 33, 240, 1) 100%
    );
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 10em;
  background-color: #cbcbea;
}

label {
  margin-bottom: 0.5em;
}

.cointainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(245, 248, 238, 0.28);
  background-color: #cbcbea;
  background-size: cover;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto 1.5em;
}

.button-send {
  z-index: 0;
  margin: 0 auto;
  padding: 0.7em 1.2em;
  border-radius: 0.438em;
  color: #fff;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0 2px 4px,
    rgba(0, 0, 0, 0.3) 0 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
  font-weight: 700;
  font-family: inherit;
  letter-spacing: 1.2px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transform: scale(1);
  transition: transform 250ms;
  background: #fd746c; /* fallback for old browsers */
  background:
    -webkit-linear-gradient(
      to right,
      #ff9068,
      #fd746c
    ); /* Chrome 10-25, Safari 5.1-6 */

  background:
    linear-gradient(
      to right,
      #ff9068,
      #fd746c
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.button:focus,
.button:hover {
  transform: scale(1.05);
}

.button:active {
  box-shadow: rgba(0, 0, 0, 0.05) 0 0 0 1px, rgb(209, 213, 219) 0 0 0 1px inset;
  transform: scale(1);
}

main {
  max-width: 1000px;
  text-align: justify;
  text-justify: inter-word;
}

#input-post-body {
  width: 20em;
  height: 5em;
}

#blog-posts {
  display: flex;
  flex-direction: column;
  padding: 0 3em;
}

.post {
  margin-bottom: 1em;
  padding: 1em;
  border-bottom: 1px solid gray;
}
