body {
  margin: 0;
}

h1 {
  margin-top: 0;
  padding: 25px 0;
  color: #fff;
  font-size: 72px;
  text-align: center;
  background: #281b2d;
}

/* solution with header styled */

/* header {
    background-color: #281B2D;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 72px;
    margin: 0;
} */

.header-two {
  margin-top: 0;
  padding: 20px;
  border-width: 0 0 5px;
  border-style: solid;
  border-color: #00c54c;
  color: #fcd801;
  font-size: 48px;
  background: #281b2d;
}

/* better solution:
border-bottom: 5px solid #00C54C;
*/

.white-text {
  color: white;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  width: 65%;
  margin-right: 5%;
}

.sidebar {
  width: 30%;
  padding: 15px;
  background: #9ae84f;
}

.columns {
  display: flex;
}

.col-right {
  margin-left: 25px;
}

ol {
  padding-left: 20px;
}

ol li {
  margin-bottom: 15px;
}

a {
  color: #281b2d;
}

a:hover {
  color: #9138b7;
}

.source {
  font-size: 12px;
}

aside h2 {
  margin-bottom: 0;
}
